<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>hola mundo</title>
    </head>
    <body>
        <%- include('partials/navigation', {menu: 'login'}); %>
        <h1>login</h1>
    </body>
</html>