<div class="col-12">
    <div class="row my-3">
        <div class="col-6">
            <h3 class="display-5">Index</h3>                
        </div>
        <div class="col-6">

        </div>
    </div>
</div>
